/*
COLORI
Viola: #6439ad
Viola scuro: #1d0645
Viola chiaro: #cfbeed
Viola pallidissimo: #f3edf5
Arancione: #ffa347
Arancione scuro: #cf7e2d
Arancione pallido: #ffc387
Arancione piu' pallido: #ffdcba
Grigio: #706873
Grigio chiaro: #bdaec2

FONT
"Arno-Pro-Display", serif
Arial Unicode MS, Arial, sans-serif
'Poppins', sans-serif
'EB Garamond', serif
'Libre Baskerville', serif
'Vollkorn', serif
'Assistant', sans-serif
'Libre Caslon Text', serif
*/

/***************
    GENERICI
***************/

html, body {
  margin: 0px;
  height: 100%;
}

body {
  margin: 0px !important;
}

body, table td, select, button {
    font-family: 'Assistant', sans-serif !important;
}

/***************
     HEADER
***************/

.header {
    padding: 20px;
    position: relative;
    height: 50px;
    background: #1d0645;
}

.logo {
    width: 70px;
    height: 70px;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    float: left;
}

#unitechDiv {
    position: relative;
    float: left;
    padding-top: 5px;
}

#unitech.gwt-Button {
    font-size: 36px;
    font-family: "Arno-Pro-Display", serif !important;
    color: white;
    margin-left: 20px;
    letter-spacing: 10px;
    background: #1d0645;
    border: none;
    padding: unset;
}

.headerButton {
    float: right;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.gwt-Button.btnPortale {
    vertical-align: middle;
    display: inline-block;
    border-radius: 30px;
    background: #ffa347;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    padding: 13px;
    width: 160px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.gwt-Button.btnPortale:active {
    background: #cf7e2d;
}

.gwt-Button.btnPortale span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    font-weight: 500;
}

.gwt-Button.btnPortale span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.gwt-Button.btnPortale:hover span {
    padding-right: 25px;
}

.gwt-Button.btnPortale:hover span:after {
    opacity: 1;
    right: 0;
}

/***************
      MENU
***************/

.menu {
    background: #f3edf5;
/*    box-shadow: 0 5px 10px #c4bdd1;*/
    width: 100%;
    height: 45px;
    overflow: hidden;
}

#pannelloMenu {
    background: #f3edf5;
    /*box-shadow: 0 5px 10px #c4bdd1;*/
    position: absolute;
    height: 45px;
    display: inline-block;
    width: fit-content;
    left: 43%;
}


div#pannelloMenu table {
    -webkit-border-vertical-spacing: 0px;
    -webkit-border-horizontal-spacing: 0px;
}

div#pannelloMenu table tbody tr td button.gwt-Button {
    width: 120px;
    height: 45px;
    background: #f3edf5;
    border-color: #f3edf5;
    color: #1d0645;
    font-weight: 400;
    font-size: 16px;
    border-radius: 0px;
    display: inline-block;
    position: relative;
}

div#pannelloMenu table tbody tr td button.gwt-Button:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #1d0645;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

div#pannelloMenu table tbody tr td button.gwt-Button:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

div#pannelloMenu table tbody tr td button.gwt-Button:active {
    border: none;
    background: #bdaec2;
}

/***************
      HOME
***************/

#universitaInfo {
    color: black;
    font-size: 20px;
    text-align: justify;
}

.infoUniHomepage {
    width: 100%;
    height: 500px;
    margin-bottom: 20px;
    float:left;
    background-color: #ffc387;
}

.uniFotoSfondo {
    width: 100%;
    object-fit: cover;
    opacity: 0.7;
    vertical-align: top;
}

table.hPanel4Sezioni {
    width: 100%;
}

#divHp {
    position: relative;
    text-align: center;
    color: white;
    background: black;
    overflow: hidden;
}

.centeredAbove {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  font-family: "Arno-Pro-Display", serif;
  letter-spacing: 20px;
  animation: fadeIn 5s;
}

.centeredBelow {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 45px;
  font-family: "Arno-Pro-Display", serif;
  letter-spacing: 5px;
  animation: fadeIn 5s;
}

@keyframes fadeIn{
  0%, 3% {
    opacity: 0;
  }
  55%, 100% {
    opacity: 1;
  }
}

.hpPanel {
    width: 100%;
}

.iconaSezione {
    width: 70px;
    height: 70px;
    position: absolute;
    margin: auto;
    top: 60px;
    left: 0;
    right: 0;
}

.sezione1 {
    background: #422f69;
    height: 450px;
    position: relative;
}

.sezione1:hover {
    background: #342652;
}

.sezione2 {
    background: #ffa347;
    height: 450px;
    position: relative;
}

.sezione2:hover {
    background: #d98b3d;
}

.sezione3 {
    background: #4d6f91;
    height: 450px;
    position: relative;
}

.sezione3:hover {
    background: #375069;
}

.sezione4 {
    background: #5e0626;
    height: 450px;
    position: relative;
}

.sezione4:hover {
    background: #330415;
}

.icona {
    width: 70px;
    height: 70px;
    padding: 70px 0px 0px 165px;
}

.titoloSezione {
    color: white;
    text-align: center;
    padding: 170px 0px 20px 0px;
    font-size: 20px;
    font-family: 'Assistant', sans-serif;
    font-weight: bold;
}

.paragrafoSezione {
    color: white;
    padding: 30px 30px 90px 30px;
    text-align: center;
    line-height: 1.6;
    font-size: 17px;
    font-family: 'Assistant', sans-serif;
}

.linea {
    border-bottom: 1px solid white;
    width: 100px;
    margin: 0px 0px 0px 150px;
}

table.hPanel4Sezioni tbody tr td {
    width: 25%;
}

.titoletto {
    color: #6439ad;
    font-size: 24px;
    font-weight: bold;
}

.titoletto1 {
    color: #6439ad;
    font-size: 36px;
    font-weight: bold;
    font-family: 'Libre Caslon Text', serif;
    padding: 160px 150px 0px 30px !important;
}

.paragrafo1 {
    color: #706873;
    font-size: 20px;
    font-family: 'Assistant', sans-serif;
    padding: 30px 150px 30px 30px !important;
}

.titoletto2 {
    color: #6439ad;
    font-size: 36px;
    font-weight: bold;
    font-family: 'Libre Caslon Text', serif;
    padding: 160px 10px 0px 180px !important;
    text-align: right;
}

.paragrafo2 {
    color: #706873;
    font-size: 20px;
    font-family: 'Assistant', sans-serif;
    padding: 30px 10px 30px 160px !important;
    text-align: right;
}

.fotoParagrafoHp1 {
    width: 600px;
    margin: 90px 20px 90px 160px;
    border-radius: 10px;
}

.fotoParagrafoHp2 {
    width: 600px;
    margin: 90px 160px 90px 40px;
    border-radius: 10px;
}

.hPanelCifre {
    background: #1d0645;
    height: 200px;
    width: 100%;
    padding: 50px 0px 0px 140px;
    /*margin: 10px auto;*/
    color: white;
}

table.hPanelCifre tbody tr td {
    width: 330px;
}

.numeroContatore {
    font-size: 50px;
    font-family: 'Assistant', sans-serif;
    padding: 0px 0px 0px 20px;
    position: relative;
    -webkit-transition: color 0.2s ease-out;
    -moz-transition: color 0.2s ease-out;
    -o-transition: color 0.2s ease-out;
    -ms-transition: color 0.2s ease-out;
    transition: color 0.2s ease-out;
}

table.hPanelCifre tbody tr td:hover div.gwt-HTML div.contatore div.contatoreColonne div.colonnaNumeri div.numeroContatore {
    color: #9e72e8;
}

.titoloContatore {
    font-size: 25px;
    font-family: 'Assistant', sans-serif;
    padding: 0px 0px 0px 20px;
}

.contatoreColonne {
    overflow: hidden;
}

.iconaContatore {
    width: 70px;
    height: 70px;
    float: left;
    padding: 10px 10px 0px 0px;
}

.colonnaNumeri {
    overflow: hidden;
}

.titoloStudenti {
    text-align: center;
    font-size: 36px;
    font-family: 'Libre Caslon Text', serif;
    font-weight: bold;
    margin: 5px 0px 10px 0px;
    color: #6439ad;
}

.sottotitoloStudenti {
    text-align: center;
    font-size: 20px;
    font-family: 'Assistant', sans-serif;
    margin: 5px 0px 10px 0px;
    color: #706873;
}

.hPanelStudenti {
    border-collapse: collapse;
    margin: 10px auto 100px auto;
}

.immagineStudenteDiv {
    position: relative;
    color: white;
    font-family: 'Libre Caslon Text', serif;
    text-align: center;
    text-shadow: 0 2px 4px rgb(0 0 0 / 50%);
}

.immagineStudente {
    width: 330px;
    height: 330px;
    padding: 15px;
    transition: transform .3s;
}

.immagineStudente:hover {
    transform: scale(1.1);
}

.nomeStudente {
    font-size: 26px;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.facoltaStudente {
    font-size: 18px;
    font-style: italic;
    position: absolute;
    top: 88%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.motiviTitolo {
    text-align: center;
    font-size: 40px;
    font-family: 'Assistant', sans-serif;
    font-weight: 800;
    padding: 40px 0px 30px 0px;
    margin-top: 20px;
    width: 100%;
    background: #ffa347;
    color: white;
}

.gridMotivi {
    background: #ffa347;
    padding: 10px 50px 60px 50px;
    margin-bottom: 100px;
}

.motivo {
    margin: 0px 50px 0px 50px;
}

.motivoTitolo {
    color: white;
    text-align: center;
    font-size: 25px;
    font-family: 'Assistant', sans-serif;
    font-weight: bold;
    margin: 5px 0px 10px 0px;
    transition: color 0.4s;
}

.motivoParagrafo {
    color: white;
    text-align: center;
    font-size: 20px;
    font-family: 'Assistant', sans-serif;
    margin: 5px 0px 10px 0px;
    transition: color 0.4s;
}

table.gridMotivi tbody tr td:hover div.gwt-HTML div.motivo div.motivoTitolo {
    color: #d16302;
}

table.gridMotivi tbody tr td:hover div.gwt-HTML div.motivo div.motivoParagrafo {
    color: #d16302;
}

/***************
  DIPARTIMENTI
***************/

.mainDipartimentiPanel {
    width: 100%;
    background: #f2e8f6;
}

.titoloDipartimenti {
    width: 100%;
    float: left;
    font-size: 30px;
    font-family: 'Libre Caslon Text', serif;
    color: #1d0645;
    padding: 45px 0px 10px 43px;
    box-shadow: inset 0px 10px 10px -10px #c4bdd1;
}

.tabPanelDipartimenti {
    background: white;
    margin: 40px;
    height: 800px;
}

.gwt-TabLayoutPanelTabs {
    background: #cfbeed !important;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab {
    background: #6439ad !important;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab-selected {
    background: white !important;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelContentContainer {
    border-color: #cfbeed !important;
}

.descrizioneDipartimento {
    font-size: 16px;
    margin: 30px;
}

.hPanelDipartimentoCorsi {
    width: 100%;
}

.hPanelDipartimentoCorsi > tbody > tr > td {
    width: 50%;
}

.titolettoDipartimenti {
    font-size: 30px;
    color: #ffa347;
    font-family: 'Libre Caslon Text', serif;
    margin: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid;
}

.titolettoDipartimentiDettagli {
    font-size: 26px;
    color: #1d0645;
    font-family: 'Libre Caslon Text', serif;
    margin: 0px 0px 30px 20px;
}

.paragrafoDipartimenti {
    font-size: 16px;
    text-align: justify;
    margin: 20px 70px 20px 20px;
}

.treeCorsiDipartimento {
    margin-left: 30px;
}

/*Corsi e materie*/
.gwt-TreeItem {
    font-size: 20px;
}

/*Corsi*/
div.gwt-Tree.treeCorsiDipartimento div table tbody tr td div.gwt-TreeItem {
    font-size: 23px;
}

/*Materie*/
div.gwt-Tree.treeCorsiDipartimento div div div div.gwt-TreeItem {
    font-size: 19px;
}

.gwt-TreeItem:hover {
    text-decoration: underline;
}

.gwt-Tree .gwt-TreeItem-selected {
    background: #ffdcba !important;
}

/***************
    PORTALE
***************/

.titolettoPortale {
    font-size: 30px;
    color: #1d0645;
    font-family: 'Libre Caslon Text', serif;
    margin: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid;
}

.menuLaterale {
    width: 250px;
    background: #ffa347;
}

table.menuLaterale tbody {
    float: left;
}

.spazioDinamico {
    padding: 0px 20px 60px 20px;
}

.gwt-Button.buttonMenuLaterale {
    width: 250px;
    height: 60px;
    background: #ffa347;
    border: 1px solid #ffa347;
    border-radius: 0px;
    color: white;
    font-size: 18px;
}

.buttonMenuLaterale:hover {
    background: #ffc387;
    border: 1px solid #ffc387 !important;
}

.buttonMenuLaterale:active {
    background-color: #cf7e2d;
    border: 1px solid #cf7e2d !important;
}

.gwt-Button.btnCreazione {
    margin: 30px;
    background: #6439ad;
    border: 1px solid #6439ad;
    color: white;
    font-size: 16px;
    width: 120px;
    height: 40px;
    border-radius: 30px;
}

.btnCreazione:hover {
    background: #8558d1;
    border: 1px solid #8558d1 !important;
}

.btnCreazione:active {
    background: #48297d;
    border: 1px solid #48297d !important;
}

/***********************
 INFORMAZIONI PERSONALI
************************/

.mainInfoStudentePanel {
    float: left;
}

table.mainInfoStudentePanel:first-child > tbody:first-child > tr:first-child > td:first-child {
    background: #ffa347;
}

.infoPersonali {
    font-size: 16px;
    line-height: 2;
    padding-left: 40px;
}

/* Tabella i miei corsi */

.tablePortale {
    font-size: 16px;
    margin-left: 30px;
}

.tablePortale thead {
    background: #f3edf5;
}

.tablePortale tbody tr td {
    font-size: 15px;
    height: 30px;
    width: 170px;
}

.btnTableStandard button {
    background: #6439ad;
    color: white;
    height: 25px;
    width: 70px;
    border: none;
    letter-spacing: 0.3px;
    border-radius: 3px;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.btnTableStandard.long button {
    width: 90px;
}

.btnTableStandard.longer button {
    width: 110px;
}

.btnTableStandard button:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #6439ad;
    z-index: -2;
}

.btnTableStandard button:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #482a7a;
    transition: all .3s;
    z-index: -1;
}

.btnTableStandard button:hover {
    background: #482a7a;
}

.btnTableStandard button:hover:before {
    width: 100%;
}

.btnTableStandard button:active {
    background: #936bd6;
}

.btnElimina button {
    background: #bf1f3c;
    color: white;
    height: 25px;
    width: 70px;
    border: none;
    letter-spacing: 0.3px;
    border-radius: 3px;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.btnElimina button:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #bf1f3c;
    z-index: -2;
}

.btnElimina button:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #871328;
    transition: all .3s;
    z-index: -1;
}

.btnElimina button:hover {
    background: #871328;
}

.btnElimina button:hover:before {
    width: 100%;
}

.btnElimina button:active {
    background: #d14d65;
}

.formCreazioneUtente {
    margin-left: 50px;
}

.listaPortaleIntro {
    margin-left: 30px;
    margin-bottom: 20px;
    font-size: 16px;
}

.listaPortale {
    margin-left: 40px;
    margin-bottom: 10px;
    font-size: 16px;
}

/***************
     FOOTER
***************/

.footer {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    float: left;
    background: #1d0645;
}

.logoUnitech {
    width: 300px;
    display: inline-block;
    margin: 10px 10px 10px 50px;
    float: inherit;
    position: relative;
}

.logoFooter {
    width: 70px;
    height: 70px;
}

#unitechFooter {
    font-size: 36px;
    font-family: "Arno-Pro-Display", serif;
    color: white;
    letter-spacing: 10px;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-left: 15px;
}

.sezioneFooter {
    width: fit-content;
    display: inline-block;
    margin: 25px 110px 10px 0px;
    float: right;
    font-family: 'Libre Caslon Text', serif;
    letter-spacing: 0.5px;
    line-height: 2.3;
    color: white;
    font-size: 16px;
}

.titolettoFooter {
    color: white;
    font-size: 17px;
}

.paragrafoFooter {
    font-size: 14px;
}

/***************
      ALTRO
***************/

.formContainer{
    display: flex;
    justify-content: center;
    height: 100%;
    padding: 70px;
}

.userCard{
    height: 300px;
    width: 250px;
    margin-top: auto;
    margin-bottom: auto;
    background: #ffa347;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.logoContainer{
    display: flex;
    justify-content: center;
}

.brandLogoContainer{
    position: absolute;
    height: 90px;
    width: 90px;
    top: -45px;
    left: 80px;
    border-radius: 50%;
    background: #6439ad;
    padding: 10px;
    text-align: center;
}

.brandLogo{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 2px solid white;
}

.loginContainer{
    height: 100%;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    top: 90px;
}

.loginContainer tbody tr td form {
    padding-top: 25px;
}

.btn-login {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    height: 35px;
    background: #6439ad !important;
    color: white !important;
    color: white !important;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 30px;
    border: none;
    transition: 0.6s ease-out;
}

.btn-login:hover {
    letter-spacing: 4px;
}

.btn-login:active {
    background: #370d80 !important;
}

.btn-send {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    height: 35px;
    background: #6439ad !important;
    color: white !important;
    margin: 10px 0px 0px 0px;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 30px;
    border: none;
}

.btn-send:hover {
    background: #bfa7e8 !important;
}

.btn-send:active {
    background: #370d80 !important;
}

.label {
    margin-top: 10px;
}

.input {
    width: 93.5%;
    border-radius: 5px;
    height: 20px;
    padding: 5px;
    border: 1px solid black;
}

select {
    width: 100%;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid black;
}

.checkbox {
    padding-top: 5px;
}

/*
COLORI
Viola: #6439ad
Viola meno scuro: #370d80
Viola scuro: #1d0645
Viola chiaro: #bfa7e8
Viola più chiaro: #cfbeed
Viola pallidissimo: #f3edf5
Arancione: #ffa347
Arancione scuro: #cf7e2d
Arancione pallido: #ffc387
Arancione piu' pallido: #ffdcba
Grigio: #706873
Grigio chiaro: #bdaec2

FONT
"Arno-Pro-Display", serif
Arial Unicode MS, Arial, sans-serif
'Poppins', sans-serif
'EB Garamond', serif
'Libre Baskerville', serif
'Vollkorn', serif
'Assistant', sans-serif
'Libre Caslon Text', serif
*/
