/** Add css rules here for your application. */

/*
COLORI
Viola scuro: #6439ad
Viola molto scuro: #1d0645
Viola chiaro: #cfbeed
Arancione pallido: #ffc387
Arancione acceso: #ffa347
*/


/** Example rules used by the template application (remove for your app) */
html, body {
  margin: 0px;
  height: 100%;
}

body {
  margin: 0px !important;
}

.header {
    padding: 20px;
    position: relative;
    height: 80px;
}

.logo {
    width: 50px;
    height: 50px;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#unitech {
    font-size: 40px;
    font-weight: bold;
    font-family: "Courier New";
    color: #6439ad;
    margin-left: 15px;
    position: relative;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.headerButton {
    float: right;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.headerButton .gwt-Button {
    vertical-align: middle;
    display: inline-block;
    border-radius: 30px;
    background: #6439ad;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    padding: 15px;
    width: 160px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.headerButton .gwt-Button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.headerButton .gwt-Button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.headerButton .gwt-Button:hover span {
    padding-right: 25px;
}

.headerButton .gwt-Button:hover span:after {
    opacity: 1;
    right: 0;
}

.titoletto {
    color: #6439ad;
    font-size: 24px;
    font-weight: bold;
}

#universitaInfo {
    color: black;
    font-size: 20px;
    text-align: justify;
}

.infoUniHomepage {
    width: 30%;
    height: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
    float:left;
    background-color: #ffc387;
}

.dipartimentiHomepage {
    width: 70%;
    height: 500px;
    backgroud: red;
    margin-top: 20px;
    margin-bottom: 20px;
    float:left;
    background-color: #cfbeed;
}

.contenuto {
    padding: 18px;
}

.contattiHomepage {
    padding: 10px;
}

#dipInfo {
    color: black;
    padding-top: 10px;
}

#contattiInfo {
    color: black;
    font-size: 18px;
}


/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

.gwt-TabLayoutPanelTabs {
    background: #cfbeed !important;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab {
    background: #6439ad !important;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab-selected {
    background: white !important;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelContentContainer {
    border-color: #cfbeed !important;
}