/*
COLORI
Viola scuro: #6439ad
Viola molto scuro: #1d0645
Viola chiaro: #cfbeed
Arancione pallido: #ffc387
Arancione acceso: #ffa347
*/

/***************
    GENERICI
***************/

html, body {
  margin: 0px;
  height: 100%;
}

body {
  margin: 0px !important;
}

body, table td, select, button {
    /* font-family: Futura,Trebuchet MS,Arial,sans-serif !important; */
}

.titoletto {
    color: #6439ad;
    font-size: 24px;
    font-weight: bold;
    padding: 30px !important;
}

.paragrafo {
    color: #1d0645;
    font-size: 16px;
    padding: 30px !important;
}

.contenuto {
    padding: 18px;
}

/***************
     HEADER
***************/

.header {
    padding: 20px;
    position: relative;
    height: 40px;
    background: #1d0645;
}

.logo {
    width: 70px;
    height: 70px;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#unitech {
    font-size: 36px;
    font-family: "Arno-Pro-Display", serif;
    color: white;
    margin-left: 15px;
    position: relative;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    top: -92%;
    letter-spacing: 5px;
}

.headerButton {
    float: right;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.headerButton .gwt-Button {
    vertical-align: middle;
    display: inline-block;
    border-radius: 30px;
    background: #ffa347;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    padding: 13px;
    width: 160px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.headerButton .gwt-Button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.headerButton .gwt-Button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.headerButton .gwt-Button:hover span {
    padding-right: 25px;
}

.headerButton .gwt-Button:hover span:after {
    opacity: 1;
    right: 0;
}

/***************
      MENU
***************/

#pannelloMenu {
    background: #6439ad;
    height: 45px;
}

div#pannelloMenu table {
    margin: 0 auto;
    -webkit-border-vertical-spacing: 0px;
    -webkit-border-horizontal-spacing: 0px;
}

div#pannelloMenu table tbody tr td button.gwt-Button {
    width: 100px;
    height: 45px;
    background: #6439ad;
    border-color: #6439ad;
    color: white;
    border-radius: 0px;
}

div#pannelloMenu table tbody tr td button.gwt-Button:hover {
    background: #1d0645;
    border-color: #1d0645;
    color: white;
}

/***************
      HOME
***************/

#universitaInfo {
    color: black;
    font-size: 20px;
    text-align: justify;
}

.infoUniHomepage {
    width: 100%;
    height: 500px;
    margin-bottom: 20px;
    float:left;
    background-color: #ffc387;
}

.uniFotoSfondo {
    width: 100%;
    object-fit: cover;
    opacity: 0.7;
    vertical-align: top;
}

.fotoParagrafoHp {
    width: 600px;
    padding: 30px;
}

table.hPanel4Sezioni {
    width: 100%;
}

table.hPanel4Sezioni tbody tr td {

}

#divHp {
    position: relative;
    text-align: center;
    color: white;
    background: black;
    overflow: hidden;
}

.centeredAbove {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  font-family: "Arno-Pro-Display", serif;
  letter-spacing: 20px;
  animation: fadeIn 5s;
}

.centeredBelow {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 45px;
  font-family: "Arno-Pro-Display", serif;
  letter-spacing: 5px;
  animation: fadeIn 5s;
}

@keyframes fadeIn{
  0%, 3% {
    opacity: 0;
  }
  55%, 100% {
    opacity: 1;
  }
}

.hpPanel {
    width: 100%;
}

.sezione1 {
    background: #422f69;
}

.sezione2 {
    background: #ffa347;
}

.sezione3 {
    background: #4d6f91;
    height: 439px; /*dato che ha solo due righe di testo serve piu' altezza*/
}

.sezione4 {
    background: #5e0626;
}

.icona {
    width: 70px;
    height: 70px;
    padding: 70px 0px 0px 165px;
}

.titoloSezione {
    color: white;
    text-align: center;
    padding: 50px 0px 20px 0px;
    font-size: 20px;
}

.paragrafoSezione {
    color: white;
    padding: 30px 30px 90px 30px;
    font-size: 17px;
    text-align: center;
    line-height: 1.6;
}

.linea {
    border-bottom: 1px solid white;
    width: 100px;
    margin: 0px 0px 0px 150px;
}

table.hPanel4Sezioni tbody tr td {
    background: black;
    width: 25%;
}

/***************
  DIPARTIMENTI
***************/

.dipartimentiHomepage {
    width: 100%;
    float:left;
    background-color: #cfbeed;
}

#dipInfo {
    color: black;
    padding-top: 10px;
}

.gwt-TabLayoutPanel {
    padding: 20px;
}

.gwt-TabLayoutPanelTabs {
    background: #cfbeed !important;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab {
    background: #6439ad !important;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab-selected {
    background: white !important;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelContentContainer {
    border-color: #cfbeed !important;
}

/***************
     FOOTER
***************/

.footer {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    float: left;
    background: #1d0645;
}

#contattiInfo {
    color: white;
    font-size: 16px;
    margin-left: 20px;
}

.titolettoFooter {
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin-left: 20px;
}