<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>utenteServlet</servlet-name>
    <servlet-class>com.unibo.progettosweng.server.UtenteServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>utenteServlet</servlet-name>
    <url-pattern>/progettosweng/utenti</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>corsoServlet</servlet-name>
    <servlet-class>com.unibo.progettosweng.server.CorsoServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>corsoServlet</servlet-name>
    <url-pattern>/progettosweng/corsi</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>esameServlet</servlet-name>
    <servlet-class>com.unibo.progettosweng.server.EsameServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>esameServlet</servlet-name>
    <url-pattern>/progettosweng/esami</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>iscrizioneServlet</servlet-name>
    <servlet-class>com.unibo.progettosweng.server.IscrizioneServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>iscrizioneServlet</servlet-name>
    <url-pattern>/progettosweng/iscrizioni</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>registrazioneServlet</servlet-name>
    <servlet-class>com.unibo.progettosweng.server.RegistrazioneServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>registrazioneServlet</servlet-name>
    <url-pattern>/progettosweng/registrazioni</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>ProgettoSWENG.html</welcome-file>
  </welcome-file-list>

</web-app>
